<!-- <div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  排序方式<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li><%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound"))%></li>
    <li><%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound"))%></li>
    <li><%= link_to("按照时间排序", jobs_path)%></li>
  </ul>
</div>
<table class="table table-boldered">
  <thead>
    <tr>
      <td>职缺</td>
      <td>薪资下限</td>
      <td>薪资上限</td>
      <td>刊登时间</td>
    </tr>
  </thead>
  <tbody>
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= job.wage_lower_bound %>
    </td>
    <td>
      <%= job.wage_upper_bound %>
    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>

  <% end %>
  </tbody>
</table>
 -->


<!-- 滑动条 -->

<link rel='stylesheet'  href='http://codemaster.comxa.com/css/cs-traveladvisor.css' type='text/css' media='all' />
<link rel='stylesheet'  href='http://codemaster.comxa.com/css/bootstrap62.css' type='text/css' media='all' />
<link rel='stylesheet'   href='http://codemaster.comxa.com/css/bootstrap-datetimepicker.min62.css' type='text/css' media='all' />
<link rel='stylesheet'   href='http://codemaster.comxa.com/css/default-element.css' type='text/css' media='all' />
<link rel='stylesheet'   href='http://codemaster.comxa.com/css/responsive62d0.css' type='text/css' media='all' />


<script type='text/javascript' src='http://codemaster.comxa.com/js/jqueryb8ff.js'></script>


        <body class="wp-traveladvisor"  >

	<ul class="cs-destination-listing destination-fancy">
         <li class="facny-view-expand">
            <div class="inner-holder">
                <div class="cs-media">
                    <figure>
                        <img src="http://codemaster.comxa.com/images/blog-travel-places19-465x465.jpg" class="attachment-traveladvisor_var_media_6 size-traveladvisor_var_media_6 wp-post-image"   />
						<figcaption>
                            <div class="cs-trips cs-bgcolor">
                                    <span>
                                        1
									</span>
                                    TRIPS
							</div>

                            <div class="cs-text cs-location">
                                <div class="cs-location-sec">
                                    <h3><a href="#">CYPRUS</a></h3>
                                    <span>
                                        Amsterdam
									</span>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="over-preview">
                    <div class="cs-text">
                        <div class="cs-location-sec">
                            <h3><a href="#">CYPRUS</a></h3>
                            <span>
                                Amsterdam                            </span>
                        </div>
                        <p>
                            Renowned as the world’s fashion and design capital, Milan is never short on places to see and things to experience. The stunning architecture of the Duomo di Milano and the famous La Scala theatre are just a few of the city’s breath-taking attractions. For a more intimate adventure, the Convent of Santa Maria delle…                        </p>
                        <ul class="cs-photo-list">

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places20-150x84.jpg" alt="" /></a></li>

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places17-150x84.jpg" alt="" /></a></li>

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places16-150x84.jpg" alt="" /></a></li>

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places14-150x84.jpg" alt="" /></a></li>
                        </ul>
                            <span class="cs-photos">16<em>Photos</em></span>
                    </div>
                </div>
            </div>
            </li>
            <li>
            <div class="inner-holder">
                <div class="cs-media">
                    <figure>
                        <img src="http://codemaster.comxa.com/images/blog-travel-places24-465x465.jpg" class="attachment-traveladvisor_var_media_6 size-traveladvisor_var_media_6 wp-post-image"  />
						<figcaption>
                             <div class="cs-trips cs-bgcolor">
                                    <span>
                                        1
									</span>
                                    TRIPS
								</div>

                            <div class="cs-text cs-location">
                                <div class="cs-location-sec">
                                    <h3><a href="#">GREECE</a></h3>
                                    <span>
                                        Natherland
								</span>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="over-preview">
                    <div class="cs-text">
                        <div class="cs-location-sec">
                            <h3><a href="#">GREECE</a></h3>
                            <span>
                                Natherland                            </span>
                        </div>
                        <p>
                            Renowned as the world’s fashion and design capital,
							Milan is never short on places to see and things to experience.
							The stunning architecture of the Duomo di Milano and the famous
							La Scala theatre are just a few of the city’s breath-taking attractions.
							For a more intimate adventure, the Convent of Santa Maria delle…
							</p>
                        <ul class="cs-photo-list">

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places20-150x84.jpg" alt="" /></a></li>

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places17-150x84.jpg" alt="" /></a></li>

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places16-150x84.jpg" alt="" /></a></li>

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places14-150x84.jpg" alt="" /></a></li>
                                                                    </ul>
                            <span class="cs-photos">
							16<em>Photos</em>
							</span>
                   </div>
                </div>
            </div>
            </li>
            <li>
            <div class="inner-holder">
                <div class="cs-media">
					<figure>
						<img src="http://codemaster.comxa.com/images/blog-travel-places04-465x465.jpg" class="attachment-traveladvisor_var_media_6 size-traveladvisor_var_media_6 wp-post-image" />
						<figcaption>
                               <div class="cs-trips cs-bgcolor">
                                    <span>
                                        1
									</span>
                                </div>

                            <div class="cs-text cs-location">
                                <div class="cs-location-sec">
                                    <h3><a href="#">SCOTLAND</a></h3>
                                    <span>
                                        Amsterdam
									</span>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="over-preview">
                    <div class="cs-text">
                        <div class="cs-location-sec">
                            <h3><a href="#">SCOTLAND</a></h3>
                            <span>
                                Amsterdam                            </span>
                        </div>
                        <p>
                            Renowned as the world’s fashion and design capital, Milan is never
							short on places to see and things to experience. The stunning architecture
							of the Duomo di Milano and the famous La Scala theatre are just a few of the
							city’s breath-taking attractions. For a more intimate adventure, the Convent
							of Santa Maria delle…                        </p>
                        <ul class="cs-photo-list">

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places20-150x84.jpg" alt="" /></a></li>

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places17-150x84.jpg" alt="" /></a></li>

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places16-150x84.jpg" alt="" /></a></li>

                                        <li ><a href="#"><img  src="http://codemaster.comxa.com/images/uploads/blog-travel-places14-150x84.jpg" alt="" /></a></li>
                       </ul>
                            <span class="cs-photos">16<em>Photos</em></span>
                    </div>
                </div>
            </div>
            </li>
					<li>
							<div class="inner-holder">
								<div class="cs-media">
									<figure>
										<img src="http://codemaster.comxa.com/images/blog-travel-places01-465x465.jpg" class="attachment-traveladvisor_var_media_6 size-traveladvisor_var_media_6 wp-post-image"   />
										<figcaption>
											 <div class="cs-text cs-location">
												<div class="cs-location-sec">
													<h3><a href="#">SWEDEN</a></h3>
													<span>
														Natherland
													</span>
												</div>
											</div>
										</figcaption>
									</figure>
								</div>
								<div class="over-preview">
									<div class="cs-text">
										<div class="cs-location-sec">
											<h3><a href="#">SWEDEN</a></h3>
											<span>
												Natherland
											</span>
										</div>
										<p>
											Renowned as the world’s fashion and design capital,
											Milan is never short on places to see and things to
											experience. The stunning architecture of the Duomo di
											Milano and the famous La Scala theatre are just a few of
											the city’s breath-taking attractions. For a more intimate
											adventure, the Convent of Santa Maria delle…
										</p>
											<ul class="cs-photo-list">

														<li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places20-150x84.jpg" alt="" /></a></li>

														<li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places17-150x84.jpg" alt="" /></a></li>

														<li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places16-150x84.jpg" alt="" /></a></li>

														<li ><a href="#"><img  src="http://codemaster.comxa.com/images/blog-travel-places14-150x84.jpg" alt="" /></a></li>

											</ul>
											<span class="cs-photos">16<em>Photos</em></span>

									 </div>
								</div>
							</div>
					</li>


                </ul>
 </body


<script type='text/javascript' src='http://codemaster.comxa.com/js/skills-progress.js'></script>
<script type='text/javascript' src='http://codemaster.comxa.com/js/jquery.mobile-menu.min.js'></script>
<script type='text/javascript' src='http://codemaster.comxa.com/js/functions62.js'></script>
